@import url('https://fonts.googleapis.com/css2?family=Dosis&family=Inter:wght@300&family=Open+Sans:wght@300&family=Ysabeau+Infant:wght@500&display=swap');

/*Todas las vistas*/
*{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 21px;
    color: #1e384c;
}

/*Vista retie*/

i{margin-bottom: 5px}

.page-header {
        background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url(http://localhost:8080/assets/img/fondo.jpg);
        background-size: cover;
}

.py-5 {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
}
.mb-5 {
    margin-bottom: 3rem !important;
}

.display-3 {
    font-size: calc(1.525rem + 3.3vw);
    font-weight: 700; 
    line-height: 1.2;
}

@media (min-width: 1200px){
    .display-3 {
        font-size: 4rem;
    }
}


/*Vista footer*/
.footer p {
    margin: 0;
    line-height: normal;
    text-align: center;
    font-size: 14px;
    font-weight: 300;
    color: #214162;
    padding: 25px 15px;
}

/*Vista certificates y retie*/
.button,i{
    background-color: #0971b7;
    display: inline-block;
    font-weight: 400;
    color: #fcf8f8;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}


label{
    font-size: 15px;
    color:#666666;
    font-weight: bold;
}

.card-body {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
    color: var(--bs-card-color);
}